{% ckan_extends %}

{% block styles %}
{{ super() }}
{% asset 'digitizationknowledge_theme/main-css' %}
<script src="//unpkg.com/alpinejs" defer></script>
{% endblock %}

{% block scripts %}
{{ super() }}
{% asset 'digitizationknowledge_theme/accessibility-js' %}
{% endblock %}

{% block head_extras %}
{{ super() }}
{{ h.get_extra_head_html() }}
{% endblock %}

{% block title %}
{{ g.site_title }}{% if self.subtitle()|trim %} {{ g.template_title_delimiter }} {% endif %}{% block subtitle %}{{ h.page_title_suffix() }}{% endblock %}
{% endblock %}